.mainform {
    margin-top: 160px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 50px;
}

.icons {
    float: right;
    margin-top: -22px;
}

.icons2 {
    float: right;
    margin-top: -28px;
}

.hints {
    font-size: medium; 
    color: red;
}

.title {
    height: 30px;
    width: 80px;
}

// .needcorrections {
//     margin-top: -22px;
// }

.format {
    height: 55px;
    width: 200px;
}

mat-slider {
    width: 300px;
    margin-top: 20px;
  }

  #experience {
      margin-left: 20px;
  }
  
  #acceptHint {
      margin-top: 23px;
      margin-left: -180px;
  }

  #acceptIcon {
      margin-top: 0px;
  }