.example-spacer {
    flex: 1 1 auto;
  }

  .example-card {
    max-width: 400px;
    margin-bottom: 8px;
  }

  .icon {
      transform: scale(0.7);
  }

  .gap {
    flex: 1 1 auto;
  }

  .text {
    margin-top: -26px;
    margin-left: 25px;
  }

  .cardh {
    margin-top: 150px;
  }